<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>
    Welcome to text analyzer, Enter your text below.
</h1>
<h2>
<form action="/analyze" method="get">
    <textarea name = 'text' style="margin: 0px; width: 661px; height: 217px; background-color:lightgreen;", placeholder="Enter text here"></textarea>
    <br>
    <input type = 'checkbox' name = 'removepunc'>Remove punctuations
    <br>
    <input type = 'checkbox' name = 'capitalizefirst'>Capitalize First Letter
    <br>
    <input type = 'checkbox' name = 'newlineremove'>Remove new line
    <br>
    <input type = 'checkbox' name = 'spaceremove'>Remove extra space
    <br>
    <input type = 'checkbox' name = 'charactercount'>Count character
    <br>

    <button type="submit" style="color: green; background-color:pink;">Analyze Text</button>
</form>
</h2>
</body>
</html>