<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Page</title>
    <style>
        body {
              background-color: powderblue;
            }
            h1 {
              color: blue;
            }
            p {
              color: red;
            }
    </style>
</head>
<body>
<h1>
    This is a navigation Page.
</h1>
<table style="width:100%" border="5px"  >
    <tr>
        <th height="70px">Website Name</th>
        <th height="70px">Website Description</th>
        <th height="70px">Website logo</th>
    </tr>
    <tr>
        <td align="left"><a href = "https://gist.github.com/" >Github</a><br></td>
        <td>Github is a Vesrion control website.</td>
        <td><img src="C:\Users\mayan\Downloads\github.png" alt="" border=3 height=100 width=100 align="right"></img></td>
    </tr>
    <tr>
        <td><a href = "https://www.youtube.com/" >Youtube</a><br></td>
        <td>Yuo can listen to music and watch videos.</td>
    </tr>
    <tr>
        <td><a href = "https://www.hindustantimes.com/" >Hindustan Times</a><br></td>
        <td>latest news on the website</td>
    </tr>
    <tr>
        <td><a href = "https://www.facebook.com/" >Facebook</a><br></td>
        <td>Social media website to chat with frends</td>
    </tr>
    <tr>
        <td><a href = "https://www.twitter.com/" >Twitter</a><br></td>
        <td>Micro blogging website.</td>
    </tr>


</table>


</body>
</html>